$body-bg-color: #ffffff;
$body-text-color: #222;
$body-font-family: "Open Sans", sans-serif;
$body-font-size: 100%;
$body-line-height: 150%;

$link-color: #000;
$link-weight: 600;

// Colors
$primary-color: #e0e0e0;
$success-color: #5ebc41;
$error-color: #bb2828;

$container-bg-color: #fff;
$container-border-radius: 5px;
$container-shadow: 0 2px 0 rgba(0, 0, 0, .1);
$container-footer-top-border: 1px solid #e8ebed;

$button-border-radius: 5px;
$button-bg-color: $primary-color;
$button-success-text-color: #fff;
$button-error-text-color: #fff;

$label-title-color: rgba(58, 150, 261, 1);
$label-description-color: rgba(118, 118, 118, 1);
