.label {
    padding: 10px;
}

.label-container {
    background-color: rgba(0, 255, 0, 0.3);
    border: 1px solid #000;
}

.title {
    padding: 20px;
    float: left;
    background-color: #eee;

    .title-text {
        font-size: 15pt;
        color: $label-title-color;
    }

    .description-text {
        font-size: 11pt;
        color: $label-description-color;
    }
}
